div {
  font-family: 'Lato', sans-serif;
}

h2,
h3,
h4 {
  text-align: center;
}

img {
  background-color: white;
  border-radius: 200px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.column {
  padding: 10px;
}

#container {
  padding: 10px;
  color: white;
  background-color: #3696da;
}

#features {
  display: flex;
  justify-content: space-around;
}
