* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Arial Black', sans-serif;
  font-size: 35px;
}

h2 {
  font-size: 29px;
}

.column-one-fourth {
  justify-content: center;
  display: flex;
  flex-basis: 50%;
}

.description {
  font-size: 20px;
}

.images > img {
  max-width: 80%;
}

.left,
.right {
  width: 23.5%;
}

.middle {
  width: 53%;
}

.row {
  display: flex;
  font-family: 'Arial', sans-serif;
}

#four-images {
  display: flex;
  padding: 10px;
}
