.container {
  display: table;
  margin: auto;
  height: 900px;
  width: 900px;
}

.row {
  vertical-align: middle;
  text-align: center;
  position: relative;
  display: table-cell;
}

body {
  background-color: #fef9f1;
}

.circle-on {
  margin: auto;
  background-color: #faea84;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  box-shadow: -10px -10px 18px #faea84;
}

.circle-off {
  margin: auto;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-color: #222224;
  box-shadow: 0 -10px black;
}
