.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.row {
  position: absolute;
  top: 50%;
  height: 30px;
  margin-top: -15px;
  text-align: center;
}

.yellow-bg {
  background-color: #fef9f1;
}

.black-bg {
  background-color: #111;
}

.circle-on {
  margin: auto;
  background-color: #faea84;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 30px 20px #f1e8b4;
  border: #faea84;
  transition: all 0.5s ease-in;
}

.circle-off {
  margin: auto;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-color: #222224;
  box-shadow:
    0 -10px black,
    0 -20px black;
  border: #222224;
}
