* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

section {
  background-color: #f4f9fb;
  padding: 1.5rem 0;
}

h2 {
  margin-bottom: 3.5rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}

form {
  margin: 0 auto 2rem;
  text-align: center;
}

input,
button {
  height: 3rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
}

input {
  width: 400px;
  padding: 0.5rem;
  border: 1px solid;
  border-color: #e2eaee;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

button {
  background-color: #0cdc71;
  color: #ffff;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: 0.25rem;
  border: none;
  font-weight: 500;
}
