button {
  background: #2b2b78;
  border: none;
  cursor: pointer;
}

.container {
  margin: auto;
  max-width: 900px;
}

.navbar {
  justify-content: space-evenly;
}

.navbar-logo {
  padding-top: 15px;
}

.row {
  display: flex;
}

.column-half {
  max-width: 50%;
}

html {
  font-family: 'Avenir.woff2', sans-serif;
}

.page-header > img {
  max-width: 150px;
}

.align-center {
  align-items: center;
}

.first-txt {
  position: absolute;
  top: 17px;
  left: 20px;
}

.second-txt {
  position: absolute;
  top: 17px;
  left: 150px;
}

.hero-img {
  margin: 30px;
  position: relative;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.nav-item {
  text-decoration: none;
}

.page-header {
  background-color: darkslategray;
}

.pb-50 {
  padding-bottom: 50px;
}

.text-align-center {
  text-align: center;
}

nav > a {
  color: #adadad;
  text-decoration: none;
}

.hero-img > img {
  width: 100%;
}
